.content-box{
	width: 100%;
    border-radius: 7px;
    background-color: #fff;
    text-align: right;
    padding: 5px 10px 5px 10px;
}
 .widget_post_area .col-md-3, .widget_post_area .col-md-6 {
	padding:1px;
	
}
.entry-title{
	font-size:18px;
}
.entry-title a{
	color:#fff;
	text-shadow: 0px 0px 2px #000;
}
.below-entry-meta a{
	color:#f2f2f4;
}
.box{
	width: 88%;
    left: 6%;
    right: 6%;
    position: relative;
}

.widget_post_small{
	height:150px;
	padding-top:30px;
	overflow:hidden;
}

.widget_post_larg{
	height:300px;
	padding-top:150px;
	overfllow:hidden;
}
	
.article-content{
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.5));
    padding-bottom: 10px;
    padding-left: 5%;
}

	
.article-content:hover{
	cursor: pointer;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.8));
    padding-bottom: 10px;
    padding-left: 5%;
}
.tag-default {
    background-color: #818a91;
}
.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.post{
	padding-bottom: 20px;
    line-height: 35px;
	border: 1px solid #dedede;
	width: 30%;
	margin: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 3px #cccaca;
	
	
    word-wrap: break-word;
}


.thumbnail{
	min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;	
}
.comments-link{
	float: left;
    padding: 10px 0 0 10px;
}
.entry-content{	
	margin-bottom: 20px;
    font-size: 10pt;
    line-height: 28px;
    padding: 5px 5px 0 0;
	border-bottom: 1px solid #cecece;    
    word-wrap: break-word;
}
.title a{
	    font-size: 10pt;
}

