/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel { 
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	top: 0;
	width: 50%;
	background-color: rgb(159,198,69);
	height: 100%;
	left:0;
	right:0;
	color: #fafeff;
	text-shadow: 0 0 0 ;
} 

.frame{
    top: 20%;
    float: left;
    left: 0px;
    position: relative;
    width: 75%;
    height: 60%;
    border: 2px solid #fff;
    border-left: 0px;
}

.indicator{
	width: 150px;
    position: relative;
    float: left;
    background-color: #fff;
    border: 1px solid;
    left: 0px;
	top: -50px;
}

.indicator .next img,.indicator .prev img {
	width:50%;
    float: right;
	cursor: pointer;
}

.frame-text{
	padding: 5px 10px;
    line-height: 30px;
    font-size: 10pt;
    float: none;
    font-weight: normal;
    height: 100%;
    color: rgb(36,36,36);
    text-align: right;
	width: 100%;
}

.frame-text h1{
	font-size: 18pt;
}
.next{

} 
.prev{

}

/* Declare heights because of positioning of img element */
# sliders  .item { 
  background-color: transparent;
  height: 460px; 
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 1.313em;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 3.125em;
  }
	#sliders {
		height: 400px;
	}
	#sliders .item {
	  height: 400px; 
	}
	.link-logo{
		font-size:8pt;
	}
	
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
	#sliders {
		height: 500px;
	}
	#sliders .item {
	  height: 500px; 
	}
	.link-logo{
		font-size:12pt;
	}
	
}

@media (min-width: 1200px) {
   
	#sliders {
		height: 550px;
	}
	#sliders .item {
	  height: 550px; 
	}
}


.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


