.carousel-showsixmoveone
{
  .carousel-control
  { 
    width: 4%;
    background-image:none;

    &.left 
    {
      margin-left:15px;
    }

    &.right 
    {
      margin-right:15px;
    }
  }

  .cloneditem-1, 
  .cloneditem-2, 
  .cloneditem-3,
  .cloneditem-4, 
  .cloneditem-5
  {
    display: none;
  }

  .course-bg .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(33.333%, 0, 0);  
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-33.333%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }    
      } 

      > .active.left,
      > .prev
      {
        left: -33.333%;
      }

      > .active.right,
      > .next
      {
        left:  33.333%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1,
      .cloneditem-2
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {    
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
		{ 
          transform: translate3d(16.666%, 0, 0);  
          left: 0;
        }    

        > .item.active.left,
        > .item.prev
		{ 
          transform: translate3d(-16.666%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
		{
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -16.666%;
      }

      > .active.right,
      > .next
      {
        left:  16.666%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-3,
      .cloneditem-4, 
      .cloneditem-5
      {
        display: block;
      }
    }    
  }
}



#carousel123{
padding-left:50px;
padding-right:50px;

}
.carousel-control.right{
	left:0;
	right:auto;
}
.carousel-control.right ,.carousel-control.left {
	
	background:none; 
}

.carousel .img-circle {
    height: 170px;
}


.product-ctrl{
	max-height: 170px;
	max-width: 100px;
}
