/*
 * Iran map - SVG format and full responsive - Free and open source.
 * Version 1.0.0
 * Copyright © 2014.
 * By: MohammadReza Pourmohammad.
 * Email: mohammadrpm@gmail.com
 * Web: http://mrpm.ir - http://aysuweb.com
 */



#map{
    display: block;
    position: relative;
    direction: rtl;
    text-align: right;
    padding: 0;
    font-family: Tahoma;
    font-size: 11px;
    width: 100%;
}

.show-title{
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    margin: 0 !important;
    padding: 0 5px;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    opacity: 0.8;
}

.right{
    display: block;
    float: right;
    width: 50%;
}
.list{
    display: block;
    margin: 0 10px;
}
.list li{
    list-style: none;
}
.list span{
    background: #1f77d0;
    color: #ecf0f1;
    display: block;
    margin: 0 2px;
    padding: 0 8px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.list li ul li{
    display: block;
    float: right;
    width: 33.33333333333333%;
}
.list li ul li a{
    background: #f2f2f4;
    color: #113d5b;
    display: block;
    padding: 0 8px;
    line-height: 26px;
    margin: 2px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
}
.list li ul li a:hover, .list li ul li a.hover{
    background: #1f77d0;
    color: #f2f2f4;
}
.list ul:before, .list ul:after{
    display: table;
    content: " ";
}
.list ul, .list ul:after{
    clear: both;
}


.left{
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}
.map{
    height: 500px;
    width: 500px;
}
.map .border path, .map .island path{
    fill: #fff;
}
.map .province path{
    fill: rgb(219,219,219);
}
.map .sea path, .map .lake path{
    fill: #6caed8;
}
.map .province path:hover, .map .island path:hover, .map .province path.hover, .map .island path.hover{
    fill: #6eb229 !important;
    cursor: pointer;
}



@media(max-width: 930px){
    .right{
        width: 50%;
    }
}
@media(max-width: 745px){
    .list li ul li{
        width: 50%;
    }
}
@media(max-width: 515px){
    .right, .left{
        width: 100%;
    }
    .list li ul li{
        width: 33.33333333333333%;
    }
    .list li ul li a{
        font-size: 10px !important;
    }
}
@media(max-width: 515px){
    .list li ul li{
        width: 50%;
    }
}
@media(max-width: 250px){
    .list li ul li{
        width: 100%;
    }
}



.clear:before, .clear:after{
    display: table;
    content: " ";
}
.clear, .clear:after{
    clear: both;
}
