	body{
		left: 0px;
		right: 0px;
		position: inherit; 
	}
	.col-sm-2.col-md-3.panel{
		min-height: 300px;
		background-color: #6eb229;
		float:left;
	}
	.panel-content{
		background:transparent;
		padding-right:80px;
	}
	
	.course-box .author{
		padding-top:5px; 
	} 
	.course-box{ 
		border: 1px solid #dcdcdc;
		border-radius: 7px;
		display: block;
		min-height: 170px; 
		font-size: 10pt;
		color: #5d5d5d;
		overflow: hidden
	}
	.course-box p{
		font-size: 10pt;
		padding-top:15px;
	}		
	.course-title{
		width:90% ; 
		left:5%; 
		border-bottom: 1px solid #ecebeb;
		font-size:10pt;
	}
	.course-inner{
		text-align: right;
		height: 50px;
		padding-top: 10px;
	}
	
	.img-circle{
		border:2px solid #fff
	}
	.menu-image{
		
	}
	.menu-box{
		width: 200px;
		margin-bottom: 100px;
		min-height: 300px;
		right: 80px;
		position: relative;
		border-right:1px solid #fff
	}
	.img-circle{
		position: relative;
		left: 20px;
		max-width: 75px;
		max-height:75px;
		min-width: 75px;
		min-height:75px;
		background-color: transparent;
	}
	.menu-box ul  {
		
	}
	
	.menu-box ul li {
		padding: 10px;
		position: relative;
		left: 20px;
		text-align: right;
		padding-right: 0;
	}
	.menu-box  a{
		color:white;
		position: relative;
		top: -10px;
	}
	.menu-name{
		list-style-image:url('../images/profile/name.jpg');
		
	}
	.menu-edit{
		list-style-image:url('../images/profile/edit.jpg');
	}
	.menu-course{
		list-style-image:url('../images/profile/course.jpg');
	}
	.menu-list{
		list-style-image:url('../images/profile/listes.jpg');
	}
	.menu-message{
		list-style-image:url('../images/profile/message.jpg');
	}
	.menu-request{
		list-style-image:url('../images/profile/request.jpg');
	}
	.menu-shop{
		list-style-image:url('../images/profile/shop.jpg');
	}
	
	.img-student, .img-parent,.img-administrator{		
		
		background-size: cover;
		max-height:100px;
		max-width:100px;
	}
	.img-student{		
		background-image:url('../images/student-logo.png');		
	}
	.img-parent{		
		background-image:url('../images/student-logo.png');		
	}
	.img-administrator{		
		background-image:url('../images/student-logo.png');		
	}
	
	#parentProfilePic{		
		background-image:url('../images/parent-logo.png');
	}
	
	#parentProfilePic:hover{		
		background-image:url('../images/parent-logo2.png');
		background-position-y: -6px;
	}
	
	.menu-exit{
		width: 50px;
		height: 50px;
		list-style-type: none;
		background-color: #6eb229;
		border-radius: 50%;
		border: 1px solid #fff;
	}
	.menu-exit a{
		top: 3px;
	}
	.active a,.active {
		color:chartreuse;
	}
	.panel-content .img-circle{
		border: 2px solid #dcdcdc;
		margin-right: 35px;
		min-width: 50px;
		min-height: 50px;
		max-width: 50px;
		max-height: 50px;
		
	}
	.panel-content .img-circle:hover{
		border: 2px solid #54ecc6
	}
	
	.message-box{
		border-right: 1px solid #dcdcdc;
		text-align:right;
		color: #5d5d5d;
		float: left;
	}
	.message-box:hover{ 
		border-right: 1px solid #54ecc6;
		cursor: pointer;
	}
	.content-title h1{
		text-align: right;
		padding-right: 50px;
		height: 40px;
		border-bottom: 1px solid #dcdcdc;
	}
	.content-title h1 a{
		font-family: IRANSans;
		font-size: 12pt;
		color : gray;
		margin-right:10px;
	}
	.content-title h1 a:hover{
		border-bottom: 1px solid #54ecc6;
		text-decoration: none;
	}
	.author .title ,.author {
		font-size:9pt;
	}
	.author , .message-frame {
		padding-bottom:25px; 
	}
	.author  {
		float:left; 
		padding:0;
	}
	.message-frame:hover {
		background-color:rgb(217,244,191);
	}		
	.message-frame{		
		font-size:10pt;
		color: #5d5d5d;
		overflow:auto; 
		padding-top: 20px;
	} 
	.message-box h5{
		border-bottom:1px solid #dcdcdc;
	}
	.message-frame .pull-right:first-child{
		    margin-right: 70px;
	}
	.my-msg{
		background-color:#e8eff3;
	}
	.user-msg{
		background-color:#edf1ee;
	}
	.form-control[type="checkbox"],.form-control[type="radio"] {
		height:20px;
	}
	
	


